@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik', sans-serif;
}

body {
    margin: 0%;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
}

/*Estilo de encabezado*/
.head-pagina {
    width: 100%;
    height: 100px;
    background-color: black !important;
}

#section-header {
    height: 70px;
    width: 100%;
    align-self: baseline;
    display: flex;
    flex-direction: row;
}

#section-logo {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: end;

}
#section-name {
    height: 70px;
    width: 60%;
    display: flex;
    align-items: center;
    cursor: default;
    
}
.section-btn-login{
    width: 15%;
    height: 70px;
    display: flex;
    align-items: center;
}
.section-btn-login a{
    color: #ffe4b5;
    font-size: 18px;
    transition: all 400ms ease;
}
.section-btn-login a:hover{
    color: #ccb68f;
    
}

#name {
    margin: 0%;
    color: #ffe4b5;
    font-size: xx-large;
}

.icon-home {
    width: 8%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.section-contactos {
    width: 15%;
    height: 70px;
    display: flex;
    align-items: center;
    color: #ffe4b5;
}

#section-header-nav {
    width: 100%;
    height: 30%;
    background-color: #ffe4b5;
    display: flex;

}

#nav-navegacion {
    width: 92%;
    height: 100%;
    float: right;
    background-color: #ccb68f;
    display: flex;
    justify-content: end;

}
#nav-navegacion a{
    padding: 0 .5rem 0 .5rem;
}

#list-navegacion {
    display: flex;
    margin: 0%;
    padding-left: 30px;
    list-style: none;
    padding: 0%;
    justify-content: end !important;
}

.li-nav {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: large;
    display: flex;
    align-items: center;
    height: 30px;
}
.li-nav:hover{
    background-color: #ffe4b5;
}
.a-navegacion {
    text-decoration: none;
    color: black;
}

.a-navegacion .home {
    background-color: #ffe4b5
}
.contenedor-slider{
    height: 87vh; 
    width: 100%; 
    background: #ffe4b5;
}
.grid-slider{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.uno{
    background-color: #2A2A2A;
    grid-row: span 2;
}

/*Estilo del catalogo*/
.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #ffe4b5;
}

aside {
    height: 82vh;
    padding: 2rem;
    padding-right: 0;
    padding-bottom: 9px;
    color: black;
    position: sticky !important;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.btn-menu {
    background-color: transparent;
    border: 0;
    font-size: .95rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 500;
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
    color: black;
    
}

.btn-menu.active {
    background-color: #ccb68f;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
    font-weight: 600;
}

.btn-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 #ccb68f;
}

.btn-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 #ccb68f;
}

.bi-hand-index-thumb-fill,
.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}

.btn-carrito {
    margin-top: 2rem;
}

.numerito {
    background-color: black;
    color: #ccb68f;
    padding: 0 .25rem;
    border-radius: .3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn-carrito.active {
    width: 89%;
}

.texto-footer {
    color: gray;
    font-size: .85rem;
}

main {
    background-color: #ccb68f;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 2rem;
    overflow-y: auto;
}

.titulo-principal {
    color: black;
    margin-bottom: 2rem;
    
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

}
.producto{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
}
.product-img {
    height: 60%;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.producto-detalles {
    height: 40%;
    width: 94.6%;
    background-color: #ffe4b5;
    margin-top: -2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    justify-content: space-between;
    padding: .5rem;
}

.producto-title {
    font-size: 1rem;
    padding: .5rem;
}

.producto-price {
    font-size: 1rem;
    padding-left: 8px;
}
.producto-agg {
    border-radius: 2rem;
    background-color: black;
    padding: .4rem;
    color: #ffe4b5;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid black;
}

.producto-agg:hover {
    background-color: #ffe4b5;
    color: black;
}

/* CARRITO */

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    background-color: #ffe4b5;
    border-radius: 1rem;
    padding: .5rem;
    padding-right: 1.5rem;
    align-items: center;
}

.carrito-producto-img {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: red;
    cursor: pointer;
}

.carrito-acciones {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: #ffe4b5;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.carrito-acciones-right {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: #ffe4b5;
    padding: 1rem;
    border-radius: 1rem 0 0 1rem;
    text-transform: uppercase;
    cursor: default;
    gap: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: black;
    color: #ffe4b5;
    padding: 1rem;
    border-radius: 0 1rem 1rem 0;
    text-transform: uppercase;
    cursor: pointer;
}

.disabled {
    display: none;
}

/*Acerca de*/
.contenido {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenido-texto {
    border-radius: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    width: 80%;
    text-align: center;
    background-color: #ccb68f;
}

.contenido-texto h3 {
    padding: 20px;
}

#main-acerca-de {
    background-color: #ffe4b5;
    margin: 0;
    border-radius: 0;
    padding: 0;
    overflow-y: auto;
}

/* FOOTER */
#footer-pie {
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: black;
}

.copyright-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright {
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}

.footer-menus {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}

.footer-container {
    height: fit-content;
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

footer .website-logo {
    margin-bottom: 1.2rem;
    font-size: calc(1vw + 20px);
}

.footer-info,
.menu-item-footer {
    margin: 0.2rem 0;
    opacity: 0.7;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.menu-item-footer:hover {
    opacity: 1;
}

.menu-title {
    font-size: var(--medium-text-font);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
}

.social-link {
    height: 100%;
    width: 30px;
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

.social-link:hover {
    opacity: 0.7;
}

/*MEDIA QUERY*/
@media (max-width: 768px) {

    .footer-container {
        padding: 2rem;
        flex-direction: column;
    }

    .footer-content-container {
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid #2A2A2A;
        justify-content: center;
        align-items: center;
    }

    .footer-content-container:nth-of-type(1) {
        align-items: flex-start;
    }

    .footer-content-container:nth-of-type(3) {
        border-bottom: none;
        padding-bottom: 0;
    }

    .footer-menus {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #2A2A2A;
    }

    .footer-menus .footer-content-container:nth-of-type(1) {
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }

    .footer-menus .footer-content-container:nth-of-type(2) {
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
}



