@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik', sans-serif;
}
.head-pagina {
    width: 100%;
    height: 100px;
    background-color: black !important;
}

#section-header {
    height: 70px;
    width: 100%;
    align-self: baseline;
    display: flex;
    flex-direction: row;
}

#section-logo {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: end;

}
#section-name {
    height: 70px;
    width: 90%;
    display: flex;
    align-items: center;
    cursor: default;
    
}
.section-btn-login{
    width: 20%;
    height: 70px;
    display: flex;
    align-items: center;
}
.section-btn-login a{
    color: #ffe4b5;
    font-size: 18px;
    transition: all 400ms ease;
}
.section-btn-login a:hover{
    color: #ccb68f;
    
}
#name {
    margin: 0%;
    color: #ffe4b5;
    font-size: xx-large;
}

.icon-sesión {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-contactos {
    width: 20%;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #ffe4b5;
}

.section-contactos a {
    display: flex;
}

#section-header-nav {
    width: 100%;
    height: 30%;
    background-color: #ffe4b5;
    display: flex;

}

#nav-navegacion {
    width: 90%;
    height: 100%;
    float: right;
    background-color: #ccb68f;
    display: flex;
    justify-content: end;

}
#nav-navegacion a{
    padding: 0 .5rem 0 .5rem;
}
#list-navegacion {
    display: flex;
    margin: 0%;
    padding-left: 30px;
    list-style: none;
    padding: 0%;
    justify-content: end !important;
}

.li-nav {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: large;
    display: flex;
    align-items: center;
    height: 30px;
}
.li-nav:hover{
    background-color: #ffe4b5;
}
.a-navegacion {
    text-decoration: none;
    color: black;
}

.a-navegacion .home {
    background-color: #ffe4b5
}

.contenido{
    width: 100%;
    height:87vh;
    display: flex;
    flex-direction: column;
    background: #ffe4b5;
    align-items: center;
    justify-content: center;
}
.contenedor-del-form{
    background-color: #ccb68f;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 1rem;
    font-size: 20px;
}
.contenedor-del-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-del-form h2{
    margin-bottom: 20px;
}
.contenedor-del-form p{
    font-size: 16px;
}
.btn-registrar{
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: black;
    color: #ffe4b5;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 500ms ease;
}
.contenedor-del-form p a {
    font-weight: 600;
    color: black;
}
.campos-form{
    padding: 10px;

}
.campos-form input{
    width: 50vh;
    border: none;
    padding: .5rem;
    border-radius: 1rem;
}
.campos-form label{
    margin-right: 5px;
}
.contenedor-inicio-form{

    background-color: #ccb68f;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 1rem;
    font-size: 20px;
}
.contenedor-inicio-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-inicio-form h2{
    margin-bottom: 20px;
}
.contenedor-inicio-form p{
    font-size: 16px;
}
.btn-acceder{
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: black;
    color: #ffe4b5;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 500ms ease;
}
.contenedor-inicio-form p a {
    font-weight: 600;
    color: black;
}