@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background: #ffe4b5;
    color: #000;
    line-height: 1.6;
    font-family: 'Kaushan Script', cursive;
    padding: 0 1.5em;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;

}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
    color: #000;
}

.logo span {
    color: #ccb68f;
}

.contact-wrapper {
  box-shadow: 0px 0px 10px 0px #000;
}

.contact-wrapper > * {
    padding: 1em;
    font-family: 'Cantarell', sans-serif;
}

.contact-form {
    background: #ccb68f;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color:#000 ;
    border-bottom: 1px solid #ffe4b5;
}

.contact-form form button {
    background: black;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    cursor: pointer;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #ffe4b5;
    color: #000;
    transition: background-color 1s ease-out;
    outline: 0;
}
.volver{
    border: 0;
    background-color: #ffe4b5;
    font-family: 'Cantarell', sans-serif;
    font-size:larger;
    transition: all 500ms ease;
    border-radius: .4rem;
}
.volver a{
    text-decoration: none;
    color: black;
    transition: all 400ms ease;

}
.volver:hover{
    background-color: #ccb68f;
}

/* CONTACT INFO */
.contact-info {
    background: #ffe4b5;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media(min-width: 700px) {
    body {
        padding: 0 4em;
    }
}
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;

    
    .contact-wrapper > * {
        padding: 2em;

    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}
