*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;

}
.contenedor-slider{
    height: 100vh; 
    width: 100%; 
    background: #ffe4b5;
    display: flex;
    align-items: center;
}
.grid-slider{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: span 2 auto;
    gap: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
.dos{
    width: 382px;
    height: 224.5px;
    background-color: blueviolet;

}
.tres{
    width: 382px;
    height: 214px;
    background-color: aqua;
}

.slider{
    width: 779px;
    height: 449px;
    display: flex;
    grid-row: span 2;
    overflow: hidden;
}
.slider-inner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 0.3s ease-in;
    align-items: stretch;
}
.slider-inner img{
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 100%;
}
